input[type="text"],
select,
input[type="date"],
input[type="file"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 10px 0;
}

.nav-container {
  background: var(--the-color);
  z-index: 1;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #87431D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #C87941;
}

.container {
  border-radius: 5px;
  background-color: #302e2e;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row {
  margin: 10px 400px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px auto;
  width: calc(280px * 3);
}

.card {
  box-shadow: 0 3px 10px 0 #aaa;
  background-color: #87431D;
  cursor: pointer;
  height: 280px;
  width: 243px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.card-body {
  text-align: center;
}

.card:hover {
  background: rgb(29, 28, 28);
}

.card:visited {
  background: rgb(29, 28, 28);
}
.card h2 {
  font-size: 20px;
  font-weight: bold;
}

.card.visited {
  box-shadow: 0 3px 10px 2px #444;
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    width: calc(280px * 2);
  }
  .card {
    margin: 0 auto 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: block;
    width: 100vw;
  }
  .card {
    margin: 0 auto 2rem;
  }
}

.space {
  margin-top: 200px;}


#nav-container1{
  justify-content: space-between;
}
#logo1{
  padding-left: 30px;
}

